@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");


@font-face {
    font-family:    "Houshka Pro Bold";
    src:            url("../fonts/HouschkaPro-Bold.otf");
}

@font-face {
    font-family:    "Houshka Pro Medium";
    src:            url("../fonts/HouschkaPro-Medium.otf");
}

body {  
    background-color:  rgba(37,107,151,1);
    overflow: hidden;
}
.main{    
    width: 100%;
    background-color: rgba(185,214,239,1);
    margin: 0 auto;
}
.space {
    position: relative;
    height: 464px;
    width: 100%;
    margin: 0 auto;
}
.clouds{
    position: absolute;
    left: 50%;
}
.cloud1{
    transform: translateX(-359px);
}    
.cloud2{
    transform: translateX(40px);

}
.comingsoon {
    font-family: "Houshka Pro Bold";
    font-size: 74px;
    position: absolute;
    color: rgba(254,254,254,1);
    text-align: center;
    top: 102px;
    text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.17);
    width: 100%;
    margin: 0 auto;
    letter-spacing: -1.5px;
    padding-left: 13px;
}

.subscribe{
    font-family: "Houshka Pro Medium";
    font-size: 14px;
    position: absolute;
    color: rgba(37,107,151,1);
    text-align: center;
    top: 185px;
    width: 100%;
    margin: 0 auto;
}

form{
    position: absolute;
    top: 217px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
input[type=text]{  
    width: 240px;
    height: 37px;
    border-style: none;
    box-sizing: border-box;
    margin-right: 7px;
    box-shadow:         0px 1px 0px 0px rgba(255, 255, 255, 1),
    inset  0px 2px 5px 0px  rgba(0,0,0,0.2),
    inset  0px 0px 2px 0px  rgba(0,0,0,0.1);      
    border-radius: 4px;
    resize: none;
    padding: 7px;
    padding-left: 11px;
}
input[type=submit]{  
    width: 92px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid rgba(247,163,38,1);  
    color:white;
    background-color: #fab937;
    /* background-image: linear-gradient(to bottom, rgba(255,255,255, 0.3) 20%, rgba(0,0,0,0.3) 100%); */
    background-image: linear-gradient(to bottom, rgba(255,255,255, 0.3),  rgba(0,0,0,0.3) 75%,  rgba(0,0,0,0.3) 100%);
    background-blend-mode: overlay;
    font-family: "Houshka Pro Bold";
    font-size: 14px;
    font-weight: bold;
    text-shadow: rgba(29, 26, 22, 0.20) 0px 1px 2px;
    
    /*не работает border-image + border-radius*/
    /* border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    background-color: rgba(249,184,54,1);  
    border-image-repeat: stretch;
    border-image: linear-gradient(to bottom , rgba(247,163,38,1), rgba(249,169,34,1) 100% ) 1; */
}    

input::placeholder{
    font-size: 12px;
    line-height: 25px;
    color: #808080;
    font-family: Roboto;
    font-weight: lighter;
    padding: 2px;
    letter-spacing: 0.15px;    
}

.sea-1 {
    height: 4px;
    background-color: rgba(221,236,250,1);
    width: 100%;
    margin: 0 auto;
}
.sea-2 {
    height: 9px;
    background-color: rgba(50,125,173,1);
    width: 100%;
    margin: 0 auto;
}
.sea-3 {
    height: 100%;
    background-color: rgba(37,107,151,1);
    width: 100%;
    margin: 0 auto;
}
.ship{
    position:absolute;
    top:452px;
    width: 48px;
    left: 36.3%;
    /* left: 50%;
    transform: translateX(-189px); */
}
.ice{
    position:absolute;  
    width: 329px;
    height: 490px;
    left: 50%;
    transform: translateX(-50%);
    top:279px;

    /* background-image: url("ice.png"), linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 196px, rgba(37,107,151,0.8) 196px, rgba(37,107,151,0.8) 490px ); */
    background-image: url("../images/ice-2.png");

    /* background-blend-mode: multiply; */

}

.buttons{
    position: absolute;
    top: 530px;
    left: 50%;
    transform: translateX(-50%);
}

.button{
    position: relative;
    display: inline-block;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: rgba(185,214,239,1);
    color:rgba(38,107,151,1);
    box-sizing: border-box;
    padding-top: 25px;
    text-align: center;
    font-family: "Houshka Pro Medium";
    font-size: 24px;
    font-weight: lighter;
    margin: 0px 18px;
}

.button p{
    color:rgba(243,243,243,1);
    margin-top: 27px;
    font-family: "Houshka Pro Bold";
    font-weight: bold;
}

.btn2 p{transform: translateX(-5px);}

.up-down-animation {
    animation-duration: 2s;
    animation-name: up-down;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes up-down {
    from {
        top:450px;
        transform: rotate(8deg);
    }
    
    to {
        top:456px;
        transform: rotate(-8deg);
    }
  }

  