
@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
  
@keyframes spin {
    0% {transform: rotate(0deg);}
  
    100% {transform: rotate(359deg);}
  } 

  body{
    background-color: gray;
}

.inner-div{
    background-color:rgb(239, 239, 239);
    border-color:rgb(118, 118, 118);
    border-style:solid;
    border-width:1px;
    padding: 0 10px;
}

.timer {
    position: relative;
    width: 400px;
    height: 180px;

    border: 2px solid darkgrey;
    margin: 100px auto;
    padding: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    
}

.time-text{
    width: 280px;
    height: 84px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    display: flex;
    align-items: center;
    justify-content: center
}

.rotator{
    // font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    // content: "";
    font-size:64px;
    // color:rgb(239, 239, 239);

    animation: spin 2s infinite linear;
}

.rotator-wrap{
    height: 84px;
    width: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
}

.invisible{
    display: none;
    // visibility: hidden;
}

.time{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    order: 3;
    width: 305px;
    height: 84px;
}

.play-button{
    height: 86px;
    width: 72px;
    
    font-family: 'fontello';
    font-size: 24px;

    // display: flex;
    align-items: center;
    justify-content: center;

    order: 4;
} 

.pause-button{
    height: 86px;
    width: 72px;
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;

    // display: flex;
    align-items: center;
    justify-content: center;

    order: 5;
} 