@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap");
body {
  background: #f0f0f0;
}

* {
  row-gap: 10px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  font-family: 'Roboto Condensed', sans-serif;
}

.wrap {
  width: 90%;
  margin: 0 auto;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: 1fr 2fr 1fr 0.3fr 1.7fr 1fr;
      grid-template-rows: 1fr 2fr 1fr 0.3fr 1.7fr 1fr;
      grid-template-areas: "hd-l hd-l hd-l hd-l hd-a hd-a" "as   as   ar-s ar-s ar-s ar-s" "as   as   ft-s ft-s ft-s ft-s" "scrl scrl scrl scrl scrl scrl" "ar   ar   ar   ar   ar   ar  " "ft   ft   ft   ft   ft   ft  ";
}

.wrap .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: hd-l;
  background-color: #c4c4c4;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 32px;
}

.wrap .about {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: hd-a;
  background-color: #c4c4c4;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap aside {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: as;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (70px)[6];
      grid-template-rows: repeat(6, 70px);
  overflow-y: scroll;
}

.wrap aside section {
  background-color: #c4c4c4;
  padding: 10px;
}

.wrap aside .lorem-3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.wrap aside .lorem-4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.wrap aside .lorem-5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.wrap aside .lorem-6 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4/6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.wrap aside .lorem-6-2 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5/7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.wrap .ar-s {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-area: ar-s;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 70px 1fr;
      grid-template-columns: 1fr 70px 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.wrap .ar-s .main-section {
  background-color: #c4c4c4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: flex-start;
}

.wrap .ar-s .main-section span {
  padding: 10px;
  padding-right: 0;
  text-align: justify;
  font-size: 14px;
}

.wrap .ar-s .main-section .round-img {
  -ms-grid-column-align: end;
      justify-self: end;
  min-width: 40px;
  height: 40px;
  width: 40px;
  margin: 0 15px;
  border-radius: 50%;
  background-color: #c4c4c4;
  background-image: url("../images/black-flag.png");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: screen;
}

.wrap .ar-s .main-section:nth-child(2n) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrap .ar-s .main-section:nth-child(2n) span {
  padding-right: 10px;
  padding-left: 0;
}

.wrap .ft-s {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-area: ft-s;
}

.wrap article {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: ar;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap article .not-main-section {
  background-color: #c4c4c4;
  padding: 10px;
  text-align: justify;
  width: 50%;
}

.wrap .scroll {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: scrl;
  background-color: #c4c4c4;
  padding: 10px;
  overflow-y: scroll;
  max-height: 40px;
}

.wrap footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: ft;
  background-color: #c4c4c4;
  background-image: url("../images/flowers.png");
  background-position: center;
  background-size: contain;
  background-blend-mode: screen;
}
/*# sourceMappingURL=main.css.map */