button {
    border-radius: 5px;
    background: linear-gradient(to bottom, #E6E8E3, 75%, 
    #d7cec9 );
    margin: 10px;
    height: 45px;
    width: 120px; 
    box-shadow: 0 0 20px #c4b6c1
     
}

#onbuttondown:active {
    background: linear-gradient(to top, 
    #E6E8E3, 25%,#d7cec9);
    box-shadow: none;
    
}