

  body{
    background-color: gray;
}

.button{
    height: 60px;
    width: 300px;
    
    font-family: 'Segoe UI';
    font-size: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    order: 4;
} 


.hidden{
    visibility: hidden;
}