// @import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap");

$width: 5em;

body{
    background: gray;
    padding: 20px;

}

// .chessboard{
//     width: 320px;
//     height: 320px;

//     border: 2px solid rgb(50, 50, 50);
//     background-color: #bebebe;

//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     // display: grid;
//     // grid-template-columns: repeat(8, 1fr);
//     // grid-template-rows: repeat(8, 1fr);
// }

// .cell{
//     width: 40px;
//     height: 40px;

//     box-sizing: border-box;

//     // border: 1px solid rgb(100, 100, 100);

//     display: flex;
//     justify-content: center;
//     align-items: center;

//     font-size: 2rem;

    
    
//     // &:nth-child(2n-1){
//     //     background-color: red;
//     // }
// }























// *{
//     row-gap: 10px;
//     column-gap: 10px;
//     font-family: 'Roboto Condensed', sans-serif;
// }



// .wrap{
//     max-width: 1200px;
//     margin: 0 auto;
//     height: 100vh;
//     box-sizing: border-box;

//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     grid-template-rows: 15vh 30vh 15vh 5vh 20vh 5vh;
//     grid-template-areas:
    
//         "hd-l hd-l hd-a"
//         "as   ar-s ar-s"
//         "as   ft-s ft-s"
//         "scrl scrl scrl"
//         "ar   ar   ar  "
//         "ft   ft   ft  "
//     ;

//     .logo{
//         grid-area:hd-l;
//         background-color: $div-color;
//         padding: $padding * 2;
//         display: grid;
//         align-items: center;
//         font-size:32px ;
//     }
//     .about{
//         grid-area:hd-a;
//         background-color: $div-color;
//         padding: $padding * 2;
//         display: grid;   
//         grid-auto-flow: column;  
//         justify-content: space-between;
//         align-items: center;
//     }


//     aside{
//         grid-area: as;
//         display: grid;
//         grid-template-columns: repeat(2, 1fr);
//         grid-template-rows: repeat(6, 70px);
//         overflow-y: scroll;
//         section{
//             background-color: $div-color;
//             padding: $padding;
//             font-size: 14px;
//             overflow-x: hidden;
//             overflow-y: scroll;            
//         }
//         .lorem-3{
//             grid-row: 1/3;
//             grid-column: 1/2;
//         }
//         .lorem-4{
//             grid-row: 2/4;
//             grid-column: 2/3;
//         }
//         .lorem-5{
//             grid-row: 3/5;
//             grid-column: 1/2;
//         }
//         .lorem-6{
//             grid-row: 4/6;
//             grid-column: 2/3;
//         }
//         .lorem-6-2{
//             grid-row: 5/7;
//             grid-column: 1/2;
//         }
//     }

//     .ar-s{
//         grid-area: ar-s;

//         display: grid;
//         grid-template-columns: 1fr;
//         grid-template-rows: repeat(1 fr);

//         .main-section{
//             background-color: $div-color;
//             max-width: 420px;

//             overflow-x: hidden;
//             overflow-y: auto;

//             display: grid;
//             grid-auto-flow: column;
//             align-items: center;
//             span{
//                 padding: $padding $padding $padding 0;
//                 text-align: justify;
//                 font-size: 14px;
//             }    
//             .round-img{
//                 justify-self: end;
//                 min-width: 40px;
//                 height: 40px;
//                 width: 40px;
//                 margin: 0 15px;
//                 border-radius: 50%;
//                 background-color: $div-color;
//                 background-image: url("../images/black-flag.png");
//                 background-position: left;
//                 background-size: contain;
//                 background-repeat: no-repeat;
//                 background-blend-mode: screen;
//             }
            
//             &:nth-child(2n){
//                 justify-self: right;
//                 span{
//                     padding: $padding 0 $padding $padding;    
//                 }
//             }
//         }
//     }

//     .ft-s{
//         grid-area: ft-s;

//         background-color: $div-color;
//         background-image: url("../images/flowers.png");
//         background-position: center;
//         background-size: contain;
//         background-blend-mode: screen;
//     }



//     article{
//         grid-area: ar;
//         display: flex;
//         .not-main-section{
//             background-color: $div-color;
//             padding: $padding;
//             text-align: justify;
//             width: 50%;
//             overflow-y: auto;
//         }
//     }

//     .scroll{
//         grid-area: scrl;
//         background-color: $div-color;
//         padding: $padding;

//         overflow: hidden;

//         span{
//         white-space:nowrap;
//         display: inline-block;
//         animation: slide 10s infinite linear;
//         }
//     }

//     .main-footer-hills{
//         grid-area: ft;
        
//         background-color: $div-color;
//         background-image: url("../images/hills.png");
//         background-position: center;
//         background-size: contain;
//         background-blend-mode: overlay;
//     }
// }

// @media (max-width:399px) {
//     .wrap{
//       width: 399px;
//       min-width: 399px;
//       overflow-X: scroll;

//       display: grid;
//       grid-template-columns: repeat(3, 1fr);
//       grid-template-rows: 10vh 5vh 30vh 15vh 20vh 5vh;
//       grid-template-areas:
    
//         "hd-l hd-l hd-l"
//         "hd-a hd-a hd-a"
//         "as   ar-s ar-s"
//         "as   ft-s ft-s"
//         "ar   ar   ar  "
//         "ft   ft   ft  "    ;
    

//     .main-footer-hills{grid-area: ft;}
//     article{grid-area: ar;}
//     .ft-s{grid-area: ft-s;}
//     .ar-s{grid-area: ar-s;}
//     aside{grid-area: as;}
//     .about{ padding:0 20px;
//             grid-area:hd-a;
//            }
//     .logo{grid-area:hd-l;
//           padding: 0 10px;}
//     .scroll{display: none;}
//     }
// }
