

  body{
    background-color: gray;

    // font-family: 'Segoe UI';
    // font-size: 24px;

    // display: flex;
    // align-items: center;
    // justify-content: center;

.main{
  padding: 5px;
}    

div{
  border: 2px solid  black;
  margin: 5px;
}



// .button{
//     height: 60px;
//     width: 300px;
    


//     // display: flex;
//     // align-items: center;
//     // justify-content: center;

//     // order: 4;
// } 


// .hidden{
//     visibility: hidden;
// }

// .disabled{

// }