@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
  
@keyframes spin {
    0% {transform: rotate(0deg);}
  
    100% {transform: rotate(359deg);}
  } 

body{
    background: lightgray;
}

.inner-div{
    background-color:rgb(239, 239, 239);
    border-color:rgb(118, 118, 118);
    border-style:solid;
    border-width:1px;
    padding: 0 10px;
}

.timer {
    position: relative;
    width: 300px;
    height: 150px;

    border: 2px solid darkgrey;
    margin: 100px auto;
    padding: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

.play-button:focus ~ .time-text:after{
    visibility: visible;
}

.time-text{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
}

.time-text:after{
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    content: "î ²";
    visibility: hidden;
    animation: spin 2s infinite linear;
    font-size:64px;
}

.time{
    font-size: 24px;
    order: 3;
}

.play-button{
    height: 60px;
    width: 100px;
    
    font-family: 'fontello';
    font-size: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    order: 4;
} 
 
