
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontello2';
  src: url('../fonts/fontello2.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
}

.search{
  display: none;
}

.filter>span{
  display: none;  
}

.slide:nth-child(3n){
  display:none;}

@media (max-width:239px) {
  body{
    min-width: 239px;
    /* overflow-X: scroll; */
  }
  .main{
    padding: 0 5px;
  }
}

@media (min-width:240px) and (max-width:749px) {
  .main{
    padding: 0 10px;
  }

}

@media (min-width:750px) and (max-width:1052px) {
  .search{
      display: flex;
  }
  .filter>span{
    display: unset;  
  }
  .currency-ico,.sort-ico{
    display: none;
  }
  .main{
    padding: 0 20px;
  }
  
  .slide:nth-child(3n){
    display:block;}
}

@media (min-width:1053px) {
  .search{
      display: flex;
  }
  .filter>span{
    display: unset;  
  }
  .currency-ico,.sort-ico{
    display: none;
  }
  .slide:nth-child(3n){
    display:block;}
}

body{
background: #FCFCFC;
width: 100%;
}

.top-spacer{
  position: absolute;
  z-index: -2;
  height: 36px;
  background: #F2F2F2;
  width: 100%;
}

.header-spacer{
  position: absolute;
  z-index: -2;
  top:36px;
  height: 83px;
  background: #FFFFFF;
  border-top: 1px solid #E8E8EE;
  border-bottom: 1px solid #E8E8EE;
  width: 100%;
}

.main{
  max-width: 1052px;
  min-width: 320px;
  margin: 0 auto;
}



/* .ico{
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
} */

.top{
  height: 36px;
  background: #F2F2F2;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.top>span{
  font-family: 'Open Sans';
  font-size: 14px;
  margin-left: 20px;
  color: #4F4F4F;
}

.header{
  height: 83px;
  background: #FFFFFF;
  border-top: 1px solid #E8E8EE;
  border-bottom: 1px solid #E8E8EE;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
}

.menu{
  margin-right: auto;
  justify-self: flex-start;
  
  color: #333333;

  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  /* content: "";  */
}

.search{
  width: 651px;
  height: 44px;

  margin: 20px;

  background: #FCFCFC;
  border: 1px solid #E8E8EE;
  box-sizing: border-box;
  border-radius: 3px;

  font-size: 14px;
  color: #828282;

  /* display: flex; */
  align-items: center;
  justify-content: flex-end;  
}

.search-ico{
  justify-self: flex-start;
  margin: 0 15px;

  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  /* content: ""; */
}

.search-placeholder{
  justify-self: flex-start;
  margin-left: 10px;
  margin-right: auto;
}

.search-city-picker{
  margin: 0 40px;
}
.search-city-picker:after{
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  content: "";

  margin: 0 7px;
}

.place-advertise{
  width: 218px;
  height: 44px;

  box-sizing: border-box;
  padding: 5px;

  background: linear-gradient(245.23deg, #32228A -43.18%, #745ACD 100%), #C4C4C4;
  border-radius: 3px;

  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;

  display: flex;
  justify-content: center;
  align-items: center;  
}

.slider{
  display: flex;
  justify-content: space-around;
  align-items: center; 
  flex-wrap: wrap;

  margin: 25px 0;
}

.slide{
  border-radius: 5px; 
  /* margin: 0 2.5px; */
}

@media (min-width:749px) and (max-width:780px){
  .slide:nth-child(3n){
    display:none;}
}


.line{
  border-top: 1px solid #E8E8EE;
}


.content-header{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; 

  font-size: 18px;
  color: #333333;

  margin: 25px 0;
}

.content-title{
  justify-self: flex-start;
  margin-right: auto;
  font-size: 24px;
}

.filter{
  margin-left: 45px;
  color: #333333;
}

.filter-value{
  color: #979FAD;
  margin-left: 15px;
}

.filter-value:after{
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  content: "";

  margin: 0 5px;
}

.currency-ico{
  font-family: 'fontello2';
  font-style: normal;
  font-weight: normal;
}

.sort-ico{
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  transform: rotate(90deg);
}

.content-cards{
  margin: 25px auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content-card{  
  height: fit-content;
  width: fit-content;

  margin: 5px; 
  
  flex:0 1;

  /* margin: 5px; */
  /* min-width: 150px; */
  

  /* border: 2px solid purple; */

  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
}
























/* .div1{
  width:70px;
  height: 70px;

  background-color: purple;

  margin: 2px;
} */