*{
    margin:     0;
    padding:    0;
}

body {
    background-color:  #999;
}

span {
    position:           relative;
    background-color:   rgba(80, 80, 80, 1);
    padding:            15px;
    float:              left;
} 

.content {
    position:           absolute;
    margin:             80px 20px;
    z-index:            -1;
}

.header {
    position:           absolute;
    height:             60px;
    background-color:   rgba(50, 50, 50, 1);
    width: 100%;
}

.logo {
    position:           absolute;    
    width:              45px;
    vertical-align:     middle;
    background-image:   url(../images/logo.png);
    background-size:    cover;
    left:               10px;
    top:                0;
    bottom:             0;
    margin:             auto;
    max-height:         100%;
}

.first-level-wrap {
    position:           relative;
    display:            block;
    float:              right;
}

.first-level-item {
    position:           relative;
    display:            inline-block; 
    vertical-align:     middle;
    text-align:         center;
    color:              lightgray;
    font:               12pt sans-serif;
    height:             56px;
    padding:            18px;
    box-sizing:         border-box;
}

.second-level-wrap{
    position:           absolute;
}


.second-level-item{
    display:            none;
    position:           absolute;
    width:              300px;
}

.first-line {
    top:               10px;;
    /* border:             2px solid blue; */
}
.second-line {
    top:                58px;
    /* border:             2px solid orangered; */
}
.third-line {
    top:                106px;
    /* border:             2px solid red; */
}
.fourth-line {
    top:                154px;
    /* border:             2px solid green; */
}

.first-level-item:hover .second-level-item{ 
    display: unset;
}

span:hover::before {
    content:"☂";
}

