body{
  height: 80vh;
  background-color: grey;
}

.rail{
  position: relative;
  top: 155px;
  width: 90wv;
  height: 8px;
  background-color: rgb(30, 30, 30);
  z-index:2;
}

.train{
  width: 155px;
  height: 130px;
  position: absolute;
  box-sizing: border-box;
}

.flip {
  transform: rotateY(180deg);
}

.light {
  position: relative;
  width: 0;
  height: 0;
  top: -110px;
  left: -120px;
  border-top: 20px solid transparent;
  border-left: 140px solid yellow;
  border-bottom: 70px solid transparent;
  z-index: -1;
}

.controls{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px;
}

button{
  position: relative;
  width: 120px;
  height: 30px;
  font-family: 'Segoe UI';
}

