body{
  height: 100vh;
  background-color: grey;
}

.rail{
  position: relative;
  top: 95px;
  width: 90wv;
  height: 8px;
  background-color: rgb(30, 30, 30);
}

.train{
  font-size: 5rem;
  position: absolute;

}

.flip {
  transform: rotateY(180deg);
  z-index: -1;
}

.light {
  position: relative;
  width: 0;
  height: 0;
  top: -60px;
  left: -80px;
  border-top: 20px solid transparent;
  border-left: 100px solid yellow;
  border-bottom: 40px solid transparent;
  z-index: -1;
  /* background-color: linear-gradient(to right, black, white);
  background-blend-mode: screen; */
}

