body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #bebebe; }

.main{
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  /* justify-content: center; */
  /* align-items: center; */
}

.dog-div {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}