main{
    width:400px;
    margin: 0 auto;
    border: 2px solid green;
    display: grid;
    grid-template-columns: 33% 67%;
}

div{
    height: 50px;
    border: 2px solid blue;
}

.big{
    width: 33%;
}

.other{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 1fr 1fr;
    grid-row:auto;
    // width:67%;
    gap: 2px;
}






// html{
//     font-size: 2rem;
// }

// body{
//     width:400px;
//     border: 1px solid black;
// }

// /********* MAIN **********/

// $color1: orange;
// $color2: lime;
// $colorb: gray;
// $font1: Arial;
// $font-size-1: 1.5rem;
// $size1: 30px;
// $size2: 50px;
// $count: 3;

// %bl-elem{
//     width: $size1;
//     height: $size2;
//     color: purple;
// }

// .volvo{
//     color:$color1;
//     display: flex;
// }

// .first{
//     .ford{
//         color:$color2;
//     }
//     .opel{
//         // font-family: $font1;
//         font-size:$font-size-1;
//         width:fit-content;
//         @extend %bl-elem;

//     }
// }

// .second{
//     &:hover{
//         background:$colorb;
//     }
//     .ford{
//         color:$color1;
//         @extend %bl-elem;
//     }
//     .volvo{
//         @extend %bl-elem;
//     }
// }