<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>

    <select>
    <% data.forEach(element => { %>
      <option>
        <%= element %>
      </option>
    <% }); %>
    </select>
    
  </body>
</html>
