
body{
    background-color: gray;
    padding: 10px;
}

.main{
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  justify-items: center;
  // border: 2px solid red;
}

.traffic_lights{
  position: relative;
  border: 2px solid  black;
  width: 80px;
  height: 250px;

  left: 85px;
  margin: 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;

  border-radius: 20px;
}    

.light{
  width: 50px;
  height: 50px;
  position: relative;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid black;
}

.button{
  width: 50px;
  height: 50px;
  position: relative;
  box-sizing: border-box;
  border: 2px solid  black
}

.controls{
  width: 250px;
  height: 80px;

  margin: 10px;
  border: 2px solid  black;
  // border-top: 2px solid  black;
  // border-left: 2px solid  black;;
  // border-right: none;
  // border-bottom: none;
  // background-color:#bebebe;

  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;

  border-radius: 7px;
}

.red{
  background-color: red;
}

.yellow{
  background-color: yellow;
}

.green{
  background-color: green;
}