main{
    width:50%;
    margin: 0 auto;
    border: 2px solid green;

    display: grid;
    grid-template-columns: 
        2fr 4fr 1 fr 5fr;
    grid-template-rows:
        50px 60px 60px;
    grid-template-areas: 
        "hd hd hd nv"
        "as a1 a2 a2"
        "as a3 a4 a4"    
    ;
}

main * {
    border: 2px solid black;
}

header{
    grid-area: hd;
}

nav{
    grid-area: nv;
}

aside{
    grid-area: as;
}

.article1{
    grid-area:a1;
}
.article2{
    grid-area:a2;
}
.article3{
    grid-area:a3;
}
.article4{
    grid-area:a4;
}