@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

:root {
    --button-radius:35px;
  }

* {  
    margin: 0px;
    padding: 0px;
}
.main{    
    width: 980px;
    height: 800px;
    background-color: rgba(185,214,239,1);
}
.space {
    position: relative;
    height: 464px;
    width: 980px;
}
.cloud1{
    position: absolute;
    left:131px;
    color: white;
}    
.cloud2{
    position: absolute;
    left:530px;
    color: white;
}
.comingsoon {
    font-family: Roboto;
    font-size: 72px;
    font-weight: bold;
    position: absolute;
    color: rgba(254,254,254,1);
    text-align: center;
    top: 100px;
    width: 980px;
    transform: scaleY(0.9);
    text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.17);}
    

.subscribe{
    font-family: Roboto;
    font-size: 14px;
    font-weight: lighter;
    position: absolute;
    color: rgba(37,107,151,1);
    text-align: center;
    top: 185px;
    width: 980px;
    transform: scale(1.05, 0.98);

}

form{
    position: absolute;
    top: 217px;
    width: 980px;
    text-align: center;
}
input[type=text]{  
    width: 240px;
    height: 37px;
    border-style: none;
    box-sizing: border-box;
    margin-right: 8px;
    box-shadow:         0px 1px 0px 0px rgba(255, 255, 255, 1),
    inset  0px 2px 5px 0px  rgba(0,0,0,0.2),
    inset  0px 0px 2px 0px  rgba(0,0,0,0.1);      
    border-radius: 4px;
    resize: none;
}
input[type=submit]{  
    width: 90px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid rgba(247,163,38,1);  
    color:white;
    background-color: #fab937;
    /* background-image: linear-gradient(to bottom, rgba(255,255,255, 0.3) 20%, rgba(0,0,0,0.3) 100%); */
    background-image: linear-gradient(to bottom, rgba(255,255,255, 0.3),  rgba(0,0,0,0.3) 75%,  rgba(0,0,0,0.3) 100%);
    background-blend-mode: overlay;
    font-family: Roboto;
    font-size: 13.2px;
    font-weight: bold;
    font-stretch: expanded;
    text-shadow: rgba(29, 26, 22, 0.20) 0px 1px 2px;

    /*не работает border-image + border-radius*/
    /* border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    background-color: rgba(249,184,54,1);  
    border-image-repeat: stretch;
    border-image: linear-gradient(to bottom , rgba(247,163,38,1), rgba(249,169,34,1) 100% ) 1; */
}    

input::placeholder{
    font-size: 12px;
    line-height: 25px;
    color: #808080;
    font-family: Roboto;
    font-weight: lighter;
    padding: 10px;
}

.sea-1 {
    height: 4px;
    background-color: rgba(221,236,250,1);
}
.sea-2 {
    height: 9px;
    background-color: rgba(50,125,173,1);
}
.sea-3 {
    height: 100%;
    background-color: rgba(37,107,151,1);
}
.ship{
    position:absolute;
    top:452px;
    left:301px;
}
.ice{
    position:absolute;
    top:279px;
    left:326px;
    width: 329px;
    height: 490px;

    /* background-image: url("ice.png"), linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 196px, rgba(37,107,151,0.8) 196px, rgba(37,107,151,0.8) 490px ); */
    background-image: url("ice-2.png");

    /* background-blend-mode: multiply; */
}
.button{
    position: absolute;
    top: 530px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: rgba(185,214,239,1);
    color:rgba(38,107,151,1);
    box-sizing: border-box;
    padding-top: 23px;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-weight: lighter;
}
.btn1{left: 344px;}
.btn2{left: 457px;}
.btn3{left: 566px;}
.button p{
    color:rgba(243,243,243,1);
    margin-top: 25px;
    font-weight: bold;
    font-stretch: wider;
}


  