$size: 130px; //square side size
$gap: 10px; //distance between squares 
$rows-count: 3;
$columns-count: 4;

body{
    background: rgb(44, 44, 44);
}

main{
    width: $gap + (($size + $gap) * $columns-count);
    height: $gap + (($size + $gap) * $rows-count);

    margin: 30px auto;

    background-image:
    repeating-linear-gradient(
    to right,
    white, white $gap,
    rgb(75, 75, 75) $gap, rgb(75, 75, 75) ($gap + $size)),

    repeating-linear-gradient(
    to bottom,
    white, white $gap,
    rgb(75, 75, 75) $gap, rgb(75, 75, 75) ($gap + $size));

    background-blend-mode: screen;
}


    //fixed-size example
    //requires 12 <div>s at index.html

    // main{
    //     width: 560px;
    //     height: 420px;
    
    //     padding: 20px;
    
    //     background: rgb(160, 160, 160);
    
    //     margin: 100px auto;
    
    //     display: flex;
    //     flex-wrap: wrap;
    
    //     div{
    //         width: $size1;
    //         height: $size1;
    //         background: gray;
    
    //         margin: 5px;
    //     }
    // }    
