// @import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap");

$width: 5em;

body{
    background: gray;
    padding: 20px;

    font: outline;
}

.chessboard{
    width: 320px;
    height: 320px;

    border: 2px solid rgb(50, 50, 50);
    background-color: #bebebe;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // display: grid;
    // grid-template-columns: repeat(8, 1fr);
    // grid-template-rows: repeat(8, 1fr);
}

.cell{
    width: 40px;
    height: 40px;

    box-sizing: border-box;

    // border: 1px solid rgb(100, 100, 100);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;

    
    
    // &:nth-child(2n-1){
    //     background-color: red;
    // }
}

.white-figure {
    color: white;
    text-shadow: 0 0 15px rgba(128, 128, 128, 0.3), 0 0 10px rgba(128, 128, 128, 0.3), 2px 2px 4px rgba(128, 128, 128, 0.3);
}

.black-figure {
    color: black;
    text-shadow: 0 0 15px rgba(190, 190, 190, 0.5), 0 0 10px rgba(190, 190, 190, 0.5), 2px 2px 4px rgba(190, 190, 190, 0.5);
}