@keyframes rectangles-resize{
    46% {transform:scaleX(-1);}
} 

@keyframes ball-vertical{
    0%  {top:-150px;} 
    10% {top:   0px;}
    20% {top:-150px;}
    30% {top: -10px;}
    40% {top:-150px;}
    50% {top: -20px;}
    60% {top:-150px;}
    70% {top: -30px;}
    80% {top:-150px;}
    90% {top: -40px;}
   100% {top:-150px;}
}

@keyframes ball-wrap-horizontal{
     0% {left: 50px;}
    10% {left: 50px;}
    30% {left:163px;}
    50% {left:276px;}
    70% {left:389px;}
    90% {left:500px;}
   100% {left:500px;}

}

body{
    background: lightgray;
    padding: 20px;
}

.main{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    background: lightgray;
    position: relative;
    padding: 50px;
}
.ball-wrap{
    position: absolute;
    top: 450px;
    width: fit-content;
    height: fit-content;
    
    animation: ball-wrap-horizontal 10s ease-in-out 0s infinite alternate;
    
}
.ball{
    position: relative;  
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(70, 70, 70);

    animation: ball-vertical 10s cubic-bezier(.57,.01,.6,.65) 0s infinite normal;
}
.rectangles{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    animation: rectangles-resize 20s step-end 0s infinite normal none; */

}
.rectangle{
    box-sizing: border-box;

    width: 50px;
    background-color: rgb(70, 70, 70);
}
.first{
    height: 50px;
}
.second{
    height: 60px;
}
.third{
    height: 70px;
}
.fourth{
    height: 80px;
}
.fifth{
    height: 90px;

}
